.dash-page{
    margin-top: 77px;
    height: 100vh;
}
.dash-page2{
    /* margin-top: 77px; */
    height: 100vh;
}
.dash-menu{
    text-decoration: none;
    color: rgb(216, 214, 214);
    font-weight: 700;
    display: block;
    line-height: 35px;
}
/* .sidebar{
    margin-top: 76px;
} */
