.img-service{
    height: 200px;
    border-radius: 20px !important;
}
.card-design{
    border-radius: 20px !important;
    box-shadow: grey 5px 2px 10px 0px;
    
    
}
.card-footer{
    background-color: rgba(130, 146, 74, 0.295) !important;
    border-radius: 0 0 20px 20px !important;
}
.btn-design{
    border-radius: 25px !important;
}
.icon-cart{
    color: rgb(240, 124, 124);
    position: absolute;
    bottom: 32px;
    right: 211px;
}