.icon {
    margin: 5px;
    width: 60px;
    background-color: rgb(21, 54, 59);
    color: rgb(216, 8, 8);
    font-size: 30px;
    border-radius: 10px;
  }
  .icon:hover {
    background-color: rgba(94, 86, 86, 0.836);
  }
  .footer-menu {
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: rgb(219, 212, 212);
    
  }
 
  .footer-menu:hover {
    color: rgb(192, 209, 33);
  }
  .footer-input {
    padding: 7px;
    border: none;
    outline: none;
    background-color: rgb(255, 250, 250);
    
  }
  .footer-container {
    background-color: #203b3b;
    padding: 50px;
    color: rgb(216, 209, 209);
  }
  .foter-phone-icon {
    font-size: 25px;
    color: rgba(65, 25, 25, 0.979);
  }
  .footer-menu-container{
    display: block;
  }